<section class="col-md-8">
	<h1 class="page-header">
		Showing {{posts.length}} Posts
	</h1>

	<div ng-repeat="post in posts
					| postsLimit:limit:currentPage
					">
		<article>
			<header>
				<h2>
					<a ng-href="#/post/{{prettyUrl(post.title)}}">{{post.title}}</a>
				</h2>
				<p>
					<small class="glyphicon glyphicon-user"></small>
					by <a ng-href="#/posts/?author={{prettyUrlToLower(post.author)}}">{{post.author}}</a>
				</p>
				<p>
					<small class="glyphicon glyphicon-time"></small>
					Posted on {{post.date | date: mediumDate}}
				</p>
			</header>
			<hr>
			<!-- Post Description -->
			<p>{{post.description}}</p>
			<br>
			<footer class="clearfix">
				<p class="pull-left">
					<b>Tags:&nbsp;</b>
					<span ng-repeat="tag in post.tags">
						<a ng-href="#/posts/?category={{prettyUrlToLower(tag)}}" class="label label-default">{{tag}}</a>
					</span>
				</p>

				<a class="btn btn-primary pull-right" ng-href="#/post/{{post.title}}">
					Read More <i class="glyphicon glyphicon-chevron-right"></i>
				</a>
			</footer>
		</article>
		<hr>
	</div>

	<!-- Pager -->
	<span ng-show="posts.length > limit">
	<ul class="pager">
		<li class="previous" ng-hide="currentPage == limit">
			<a ng-href="#/posts/{{currentPage + 1}}{{getParams(qParams)}}">&larr; Older</a>
		</li>

		<li class="next" ng-hide="{{currentPage == 1}}">
			<a ng-href="#/posts/{{currentPage - 1}}{{getParams(qParams)}}">Newer &rarr;</a>
		</li>
	</ul>
	</span>
</section>
