<aside class="col-md-4" ng-controller="SideBarCtrl">
	<!-- Blog Search Well -->
	<div class="well">
		<h4>Search</h4>
		<div class="input-group">
			<input type="text" class="form-control" ng-model="search">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button"
				ng-click="submitSearch()">
					<span class="glyphicon glyphicon-search"></span>
			</button>
			</span>
		</div>
		<!-- /.input-group -->
	</div>
	<!-- Blog Categories Well -->
	<div class="well">
		<h3>Filter Posts</h3>

		<div class="list-group">
			<a href="#/posts" class="list-group-item"
			ng-class="isActive('posts')">
				<span class="badge">{{postsData.data.length}}</span>
				Show All Posts
			</a>
		</div>

		<h4><small class="glyphicon glyphicon-tag"></small> Category</h4>
		<div class="list-group">
			<a href="#/posts/?category={{prettyUrlToLower(tag.name)}}"
				class="list-group-item" ng-repeat="tag in tags"
				ng-class="isActive(tag.name)">
				<span class="badge">{{tag.num}}</span>
				{{tag.name}}
			</a>
		</div>

		<h4><small class="glyphicon glyphicon-user"></small> Author</h4>
		<div class="list-group">
			<a href="#/posts/?author={{prettyUrlToLower(author.name)}}"
			class="list-group-item" ng-repeat="author in authors"
			ng-class="isActive(author.name)">
				<span class="badge">{{author.num}}</span>
				{{author.name}}
			</a>
		</div>

		<h4><small class="glyphicon glyphicon-time"></small> Month</h4>
		<div class="list-group">
		<span ng-repeat="item in orderDates">
			<span class="list-group-item disabled">
				{{item.name}}
			</span>
			<a ng-href="#/posts/?month={{prettyUrlToLower(item.month.name + '-' + item.name)}}"
			class="list-group-item"
			ng-class="isActive(item.month.name)">
				<span class="badge">{{item.month.value}}</span>
				{{item.month.name}}
			</a>
		</span>
		</div>
 	</div>
</aside>
